<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>BLOCKBUSTER</b>FLIX</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">{{ mensaje() }}</p>
      
            <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <input formControlName="code" type="code" class="form-control" placeholder="Code">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fa fa-check"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Verify code</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</div>