<div style="margin-left: 5rem;">
  <div *ngIf="cargando">
    <div class="row" style="width: 70vw;">
      <!-- TABLE: LATEST ORDERS -->
      <div class="card" >
        <div class="card-header">
          <h3 class="card-title">{{this.table}}</h3>
          <div class="card-tools">
            <button (click)="post()" class="btn btn-tool">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body " style="max-height: 85vh; overflow-y: auto;">
          <table class="table table-bordered table-striped" style="overflow-x: auto; overflow-y: auto;">
            <thead>
            <tr>
              <th *ngFor="let colum of columns">{{ colum }}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obj of data  | paginate: { itemsPerPage: 8, currentPage: p }">
              <td *ngFor="let column of columns">{{ obj[column] }}</td>
              <td>
                <div class="wrapper p-3">
                  <!-- Botón con dropdown -->
                  <div class="dropdown">
                    <button
                      class="button" style="border: none; background-color: transparent;"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" style="cursor: pointer;" (click)="put(obj['id'])"><i class="fa fa-edit"></i> Editar</a></li>
                      <li><a class="dropdown-item" style="cursor: pointer;" (click)="delete(obj['id'])"><i class="fa fa-trash"></i> Eliminar</a></li>
                    </ul>
                  </div>

                   <!--
                  <div class="btn-group">
                      <button type="button" style="border: none; background-color: transparent;" data-toggle="dropdown">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">


                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger"><i class="fa fa-sign-out-alt"></i> Salir</a>
                      </div>
                  </div> -->
                </div>
              </td>
            </tr>
            <tr *ngIf="data.length === 0">
              <td [attr.colspan]="columns?.length + 1" class="text-center">{{ mensaje() || 'No se encontraron datos.' }}</td>
            </tr>            
            </tbody>
            <tfoot>
              <tr>
                <th *ngFor="let colum of columns">{{ colum }}</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
          <br>
            <pagination-controls (pageChange)="p = $event" [responsive]="true"></pagination-controls>
          <!-- /.table-responsive -->
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>

  <div *ngIf="!cargando">
    <h1>{{msg}}</h1>
  </div>
</div>
